body {
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:20px;
}

h1 {
    margin-left: 60px;
}


p {
    margin-left:40px;
    margin-right:480px;
    font-size: 110%;
}

ul {
    margin-left:20px;
    margin-right:480px;

    list-style:none;
}

a {
    margin-left:40px;
    font-size: 140%;
    font-weight: bold;
}

aa {
    font-size: 90%;
    color: rgb(119, 51, 51);
    font-weight: bold;
}


#position {
    font-size: 90%;
    color: black;
    font-weight: normal;
}

#tiny {
    font-size: 75%;
    font-weight: normal;
}

.details {
    color:rgb(119, 51, 51);
}